body {
    font-family: 'Roboto', sans-serif;
}
.gamecard {
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
}

.game-images {
    max-width: 200px;
    width: 200px;
    text-align: center;
}

.gamecard-background {
    border-radius: 20px;
    width: 100%
}

.gamecard-logo {
    position: relative;
    max-width: 100px;
    height: 50px;
    bottom: 70px;
    z-index: 1;
}

a:visited {
    text-decoration: none;
    color: black
}

a:link {
    text-decoration: none;
    color: black
}
.gamecard-text {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Ubuntu,roboto,noto,arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    bottom: 10px;
}

.gamecard:hover {
    color: #0a53be;
}

.gamepage-text {
    color: #2b3035;
}

.navbar-logo {
    width: 100%;
}
.navbar-brand {
    max-width: 80%;
}
.playercard {
    max-width: 200px;
    max-height: 250px;
    width: 200px;
    height: 250px;
    background: lightgrey;
    border: 2px solid grey;
    border-radius: 20px;
    padding:0;
    cursor: pointer;
    margin: 10px 20px;
}
.playercard-gameimg {
    position: relative;
    bottom: 50px;
    width: 30px;

    background: orange;
    border-radius: 3px;
}
.playercard-background-back {

    position: relative;
    top: 5px;
    margin: 0 auto;
    width: fit-content;
}
.playercard-background {
    width: fit-content;
    border-radius: 20px;
    max-width: 190px;
    aspect-ratio: 1/1;

}

.playercard-name {
    padding-top: 10px;
}
.playerTable-th {
    color: grey;
    font-weight: lighter;
}
.playerTable-td {
    color: black;
    font-weight: bolder;
}
.playercontainer {
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    padding-top: 20px;
}
.playerData-image {
    max-width: 200px;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.playerTable-tr {
    border-bottom: grey 1px solid;
}
.playerData {
    margin: 0 auto;
}
.configcard {
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 10px;
}

.configTable-th {
    color: grey;

}
.configTable-td {
    color: black;
    font-weight: bolder;
}

.configSettings {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form-signin {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-editdata {
    font-family: 'Roboto', sans-serif;
}
.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.indicator{
    margin-top: 10px;
    width: 100%;
    display: flex;

}
.indicator span{
    width: 100%;
    height: 10px;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 0 5px 5px 5px;
}
.weak-pass{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
    text-align: center;
}

.form-profile {
    width: 80%;
    margin:auto;
}

.red {
    background-color: #CA260A;
    border-color: #CA260A;
}
.red:hover {
    background-color: #FD140D;
    border-color: #FD140D;
}

.buttons {
    margin: 10px auto ;
}
.signupbtn {
    background-color: #0d6efd;
    margin-bottom: 5px;
}
.pagination-center {
    width: auto;
    margin: 20px auto auto auto;
}
